---
layout: tailwind
---

<main id="main" class="announcement-page">
  {% include components/nav-button.html %}
  <!-- Layout 2 -->
  <div class="py-4 px-6 md:py-22 md:px-24 grid md:grid-cols-3 gap-16">
    <div class="">
      <div class="project__type">{{ page.publication_date | date: "%B %d, %Y" }}</div>
      <h1>{{ page.title }}</h1>
      <div class="project__authors">
        {% for author in page.authors %}
          <div>
            <a href="{{ author.pretty_url | prepend: '/people/' | relative_url }}" class="link link--arrow">
              {{author.display_name}}
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="bar" style="background-image: url('/images/bar-p.svg')"></div>
      <div class="sidebar">
        {% for image in page.column_images %}
          <div class="news-image-wrapper">
            <img src="{{image.url}}" alt="{{image.url.description}}">
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-span-2">
      <article class="prose !max-w-none">
        {{ page.body  | markdownify }}
      </article>
    </div>
  </div>
</main>
